{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "{{PROJ_NAME}}", "", [
        kernel,
        stdlib,
        {{PROJ_NAME}}
    ]},
    {boot_rel, "{{PROJ_NAME}}"},
    {profile, embedded},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, [
        "^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"
    ]},
    {excl_app_filters, ["\.gitignore"]},
    {app, {{PROJ_NAME}}, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, runtime_tools, [{incl_cond, include}]},
    {app, tools, [{incl_cond, include}]},
    {app, debugger, [{incl_cond, include}]},
    {app, eunit, [{incl_cond, include}]}
]}.

{target_dir, "{{PROJ_NAME}}"}.

{overlay, [
    {copy, "files/{{PROJ_NAME}}-starter", "bin/{{PROJ_NAME}}-starter"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/{{PROJ_NAME}}", "bin/{{PROJ_NAME}}"},
    {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
